.feedback {
    background: #333;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.feedback:hover {
    color: #f1f1f1;
}
#importer .imp a {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    box-shadow: none;
    color: #222222 !important;
    text-shadow: none !important;
}
#menu li.imp a {
    background-position: -1px -4px !important;
}
.extras {
    padding-left: 15px;
    border: 1px dashed #d2d2d2;
    background: #fff;
    margin-top: 5px;
}
.extras li {
}
#admin_menu {
    background: #BCBCBC;
    border-right: 1px solid #B83A1F;
}
#admin_menu li {
    float: left;
    list-style: none;
}
#admin_menu li a:hover {
    background: #fff;
    color: #000;
}
#admin_menu li a {
    background-color: #BCBCBC;
    border-bottom: 1px solid #717171;
    border-right: 1px solid #717171;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    display: block;
    font-size: 95%;
    font-weight: bold;
    line-height: 25px;
    margin: 0 auto;
    padding: 0 10px 1px 30px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#account .ad_m a, #subjects .subj a, #themes .thm a {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    box-shadow: none;
    color: #222222 !important;
    text-shadow: none !important;
    border-right: 1px solid #393737 !important;
}

#subjects #tabs {
    float: none;
}
#tabs li:first-child {
    margin-left: 4px;
}
#tabs li a:hover {
    background-position: 3px -77px; 
}
#tabs li.selected a:hover {
}
#tabs li.selected a {
    background-color: #FDFDED;
    background-position: 2px -3px !important;
    border-color: #EFD586 #EFD586;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #BF6F2F;
}
.main {
    padding: 10px 10px;
    border-left: 1px solid #FFE79F;
    border-bottom: 1px solid #FFE79F;
    border-right: 1px solid #FFE79F;
}
.main .stand {
    padding: 10px 0;
    font-size: 24px;
}
.input_title {
    border: 1px solid #B6B6B6;
    box-shadow: 0 1px 0 #FFFFFF inset;
    padding: 6px 0px;
    white-space: normal;
}

div.editable {
	border: solid 1px Transparent;
}
div.editable:hover {
	border-color: #FFE79F;
    cursor: pointer;
}
#subjects #stage, #subjects .afi {
    background: #fff none !important;
}
.stand {
    color: #236ABF !important;
}