.col {
    float: left;
    width: 23%;
}
.col.col-5 {
    padding: 1%;
    width: 6%;
}
ul, ol {
    list-style: none;
}
.account_header, .account_list {
    margin: 5px 0;
}
.account_header li {
    text-align: center;
}
.account_list {
    margin-top: 10px;   
}
.account_list li.user_info {
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px;
    overflow: hidden;
}
.search {
    padding: 10px 5px;
    background-color: #FFE79F;
    border: 1px solid #FEDC71;
}
.even {
    background: #F7F7F7;
}
.col-2 .button {
    background: -moz-linear-gradient(center top , #EDFBED, #25FF0A) repeat scroll 0 0 padding-box transparent;
    background: -webkit-gradient(linear,left top,left bottom, from(#EDFBED), to(#25FF0A));
    border-color: #21F958 #05EE39 #08D62F #2AF92E;
    border-image: none;
    border-radius: 0 0 0 0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Grande",Tahoma,Arial,sans-serif;
    font-size: 100%;
    line-height: 100%;
    padding: 5px 10px 6px;
    text-decoration: none;
}
.col-2 .button.unlock {
    background: -moz-linear-gradient(center top , #FFA4A4, #FF0A0A) repeat scroll 0 0 padding-box transparent;
    background: -webkit-gradient(linear,left top,left bottom, from(#FFA4A4), to(#FF0A0A));
    border-color: #F92121 #EE0505 #D60808 #F92A2A;
    color: #fff;
}
.col-2 p {
    overflow: hidden;
}
.col-2 p a.subject_title {
    text-decoration: none;
    width: 61%;
    display: block;
    float: left;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    background: #F9F9F9;
    border: 1px solid #D7D7D7;
    padding: 0 5px;
    margin-right: 1%;
}
#account #stage .col-2 p {
    margin-bottom: 4px;
}