div.calendar {
    background-clip: padding-box;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 15000;
}
.calendar table {
    background: none repeat scroll 0 0 padding-box #FFFFFF;
    border-radius: 11px 11px 11px 11px;
    color: #000000;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 11px;
}
.calendar .button {
    padding: 3px 0;
    text-align: center;
}
.calendar .question {
    border-top-left-radius: 11px;
}
.calendar .close {
    border-top-right-radius: 11px;
}
.calendar thead .title {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
}
.calendar thead .headrow {
    background: none repeat scroll 0 0 #DEDEDE;
    color: #333333;
    font-weight: bold;
}
.calendar thead .daynames {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #333333;
}
.calendar thead .name {
    border-bottom: 1px solid #DEDEDE;
    color: #000000;
    padding: 3px 2px;
    text-align: center;
}
.calendar thead .weekend {
    background: none repeat scroll 0 0 #DEDEDE;
    color: #666666;
}
.calendar thead .hilite {
    background-color: #444444;
    color: #FFFFFF;
    padding: 1px;
}
.calendar thead .active {
    background-color: #D12F19;
    color: #FFFFFF;
}
.calendar tbody .day {
    border: 1px solid #FFFFFF;
    color: #222222;
    padding: 3px 2px;
    text-align: right;
    width: 2em;
}
.calendar tbody .day.othermonth {
    color: #BBBBBB;
    font-size: 80%;
}
.calendar tbody .day.othermonth.oweekend {
    color: #FFBBBB;
}
.calendar table .wn {
    background: none repeat scroll 0 0 #666666;
    border-right: 1px solid #000000;
    padding: 2px;
}
.calendar tbody .rowhilite td, .calendar tbody .rowhilite td.wn {
    background: none repeat scroll 0 0 #DDDDDD;
}
.calendar tbody td.hilite {
    background: none repeat scroll 0 0 #444444 !important;
    color: #FFFFFF !important;
}
.calendar tbody td.active {
    background: none repeat scroll 0 0 #529214 !important;
    color: #529214;
}
.calendar tbody td.selected {
    background: none repeat scroll 0 0 #F5F5F5 !important;
    border: 1px solid #888888;
    color: #222222 !important;
    font-weight: bold;
    padding: 1px;
}
.calendar tbody td.weekend {
    color: #666666;
}
.calendar tbody td.today {
    background: none repeat scroll 0 0 #D9EFC2;
    color: #529214;
    font-weight: bold;
}
.calendar tbody .disabled {
    color: #999999;
}
.calendar tbody .emptycell {
    visibility: hidden;
}
.calendar tbody .emptyrow {
    display: none;
}
.calendar tfoot .footrow {
    color: #FFFFFF;
    padding: 6px 0;
    text-align: center;
}
.calendar tfoot .ttip {
    background: none repeat scroll 0 0 #555566;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top: 1px solid #DEDEDE;
    color: #FFFFFF;
    font-size: 10px;
    padding: 4px 0;
    width: 192px;
}
.calendar tfoot .hilite {
    background: none repeat scroll 0 0 #AAAAFF;
    border: 1px solid #0044FF;
    color: #000000;
    padding: 1px;
}
.calendar tfoot .active {
    background: none repeat scroll 0 0 #7777CC;
    padding: 2px 0 0 2px;
}
.calendar .combo {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #222222;
    display: none;
    font-size: 90%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4em;
    z-index: 100;
}
.calendar .combo .label, .calendar .combo .label-IEfix {
    padding: 1px;
    text-align: center;
}
.calendar .combo .label-IEfix {
    width: 4em;
}
.calendar .combo .hilite {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}
.calendar .combo .active {
    background: none repeat scroll 0 0 #DEDEDE;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    font-weight: bold;
}