.waiting {
    background: url(../../../images/loading.gif)  no-repeat scroll 3px center;
    font-weight: bold;
    padding: 6px 0 6px 27px;
}
#scores {
    padding-bottom: 10px;
}
.suggestions ul li {
    list-style: none;
    padding-left: 25px;
    background: url(../../../images/icons/text_list_bullets.png) 0 0 no-repeat;
    overflow: hidden;
}
.suggestions ul li li {
    background: url(../../../images/icons/text_list_bullet.png) 0 2px no-repeat;
}
.suggestions .heading {
    color: #888888;
}
.suggestions ul li li .value {
    color: #000;
}
.suggestions ul li li li {
    color: #000;
}
.comments {
    margin: 5px 0;
}
.suggestions .comments ul li {
    padding: 5px 0;
    background: none;
}
.comments .comment_content, .comments .avatar {
    float: left;
}
.comments .avatar {
    margin-right: 10px;
}
.comments .comment_content {
    font-size: 11px;
    position: relative;
    padding-right: 50px;
}
.comments .comment_wrap {
    clear: both;
}
.add_comment, .view_comments a, .user_h2d, .user_fullname, .add_wa {
    color: #0355C6;
    font-size: 11px;
    text-decoration: none;
}
.user_h2d, .user_fullname {
    color: #078206;
}
.avatar {
    overflow: hidden;
}
.avatar .image, .avatar .info {
    float: left;
}
.avatar .info {
    clear: none;
    margin: 0 5px;
}
.actions {
    position: absolute;
    right: 0;
}
.suggestions .add_wa {
    margin-left: 20px;
    font-weight: normal;
    font-size: 11px;
}
.suggestions .title {
}
.wronga textarea {
    height: 25px;
    line-height: 25px;
}
.delete {
    color: red;
    font-size: 11px;
}